# Игнорировать файл .env
.env.example
.env.dev
.env.prod
/.venv/
/venv
# Игнорировать директории __pycache__
__pygit cache__/

# Игнорировать все файлы .pyc
*.pyc

/alembic/
/migrations/

/.vscode/k8s/secrets*.yaml*
