# Environment variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# IDEs
.idea/
.vscode/

# Project specific
gymassistant_backup/
k8s/secrets-prod-updated.yaml
k8s/press-api-*-updated.yaml
