name: deploy bot

on:
  push:
    branches:
      - main
      - dev

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GHCR
        run: echo "${{ secrets.GHCR_PAT }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build and push Docker images
        env:
          REPO: ghcr.io/${{ github.repository }}
        run: |
          SHORT_SHA=$(echo "${{ github.sha }}" | cut -c1-7)
          BASE_TAG=$( [ "${{ github.ref_name }}" = "main" ] && echo "prod" || echo "dev" )
          TAG="${BASE_TAG}-$SHORT_SHA"

          # Build BOT
          docker build -t $REPO:bot-$TAG -f gymassistant/Dockerfile gymassistant/
          docker tag $REPO:bot-$TAG $REPO:bot-$BASE_TAG
          docker push $REPO:bot-$TAG
          docker push $REPO:bot-$BASE_TAG

          # Build PRESS-API
          docker build -t $REPO:api-$TAG -f gymassistant/press_api/Dockerfile gymassistant/
          docker tag $REPO:api-$TAG $REPO:api-$BASE_TAG
          docker push $REPO:api-$TAG
          docker push $REPO:api-$BASE_TAG

          echo "TAG=$TAG" >> $GITHUB_ENV
          echo "BASE_TAG=$BASE_TAG" >> $GITHUB_ENV

      - name: Deploy over SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 2222
          script: |
            REPO="ghcr.io/${{ github.repository }}"
            TAG=${{ env.TAG }}
            BASE_TAG=${{ env.BASE_TAG }}
            NAMESPACE=$( [ "${{ github.ref_name }}" = "main" ] && echo "gym-prod" || echo "gym-dev" )

            echo "Deploying to namespace $NAMESPACE"

            # Deploy Bot
            kubectl set image deploy/gym-bot aiogram-bot=$REPO:bot-$TAG -n $NAMESPACE
            # Deploy API
            kubectl set image deploy/press-api press-api=$REPO:api-$TAG -n $NAMESPACE

            kubectl rollout restart deploy/gym-bot -n $NAMESPACE
            kubectl rollout restart deploy/press-api -n $NAMESPACE

            kubectl rollout status deploy/gym-bot -n $NAMESPACE
            kubectl rollout status deploy/press-api -n $NAMESPACE

            echo "Deployment complete!"
