name: deploy bot

on:
  push:
    branches:
      - main
      - dev

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Extract metadata (tags, labels)
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}

      - name: Determine Tags
        id: tags
        run: |
          SHORT_SHA=$(echo "${{ github.sha }}" | cut -c1-7)
          BASE_TAG=$( [ "${{ github.ref_name }}" = "main" ] && echo "prod" || echo "dev" )
          TAG="${BASE_TAG}-$SHORT_SHA"
          echo "TAG=$TAG" >> $GITHUB_ENV
          echo "BASE_TAG=$BASE_TAG" >> $GITHUB_ENV
          REPO="ghcr.io/${{ github.repository }}"
          echo "REPO=$REPO" >> $GITHUB_ENV

      - name: Build and push BOT
        uses: docker/build-push-action@v5
        with:
          context: gymassistant/
          file: gymassistant/Dockerfile
          push: true
          tags: ${{ env.REPO }}:bot-${{ env.TAG }},${{ env.REPO }}:bot-${{ env.BASE_TAG }}
          cache-from: type=registry,ref=${{ env.REPO }}:bot-buildcache
          cache-to: type=registry,ref=${{ env.REPO }}:bot-buildcache,mode=max

      - name: Build and push PRESS-API
        uses: docker/build-push-action@v5
        with:
          context: gymassistant/
          file: gymassistant/press_api/Dockerfile
          push: true
          tags: ${{ env.REPO }}:api-${{ env.TAG }},${{ env.REPO }}:api-${{ env.BASE_TAG }}
          cache-from: type=registry,ref=${{ env.REPO }}:api-buildcache
          cache-to: type=registry,ref=${{ env.REPO }}:api-buildcache,mode=max

      - name: Deploy over SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 2222
          script: |
            REPO="ghcr.io/${{ github.repository }}"
            TAG=${{ env.TAG }}
            BASE_TAG=${{ env.BASE_TAG }}
            NAMESPACE=$( [ "${{ github.ref_name }}" = "main" ] && echo "gym-prod" || echo "gym-dev" )

            echo "Deploying to namespace $NAMESPACE"

            # Deploy Bot
            kubectl set image deploy/gym-bot aiogram-bot=$REPO:bot-$TAG -n $NAMESPACE
            # Deploy API
            kubectl set image deploy/press-api press-api=$REPO:api-$TAG -n $NAMESPACE

            kubectl rollout restart deploy/gym-bot -n $NAMESPACE
            kubectl rollout restart deploy/press-api -n $NAMESPACE

            kubectl rollout status deploy/gym-bot -n $NAMESPACE
            kubectl rollout status deploy/press-api -n $NAMESPACE

            echo "Deployment complete!"
